<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073420427971-ln6e2bqsk0dhjsrhb5upgkvuij7pvp5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073420427971-ln6e2bqsk0dhjsrhb5upgkvuij7pvp5b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1073420427971-l8van2de88lcckmj3bs498443ac4rqi4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAgLzuJjszceym_m7t-KGPc-Zy1ANdKO0</string>
	<key>GCM_SENDER_ID</key>
	<string>1073420427971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.unicam.cs.justmeet</string>
	<key>PROJECT_ID</key>
	<string>justmeet-c8d6f</string>
	<key>STORAGE_BUCKET</key>
	<string>justmeet-c8d6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073420427971:ios:57a8169d6dbdeeb1e97876</string>
	<key>DATABASE_URL</key>
	<string>https://justmeet-c8d6f.firebaseio.com</string>
</dict>
</plist>